<launch>
    <arg name="path" value="$(find hw1)"/>
    <arg name="simulation" default="0"/>
    <arg name="icp_fitness_epsilon" value="1e-5"/>
    <arg name="icp_transformation_epsilon" value="1e-12"/>
    <arg name="icp_max_correspondence_distance" value="2"/>
    <arg name="icp_ransac_iterations" value="2000"/>
    <arg name="icp_inlier_threshold" value="0.01"/>
    <arg name="icp_translation_threshold" value="0.6"/>
    <arg name="icp_rotation_threshold" value="0.6"/>
    <arg name="icp_absolute_mse" value="0.5"/>
    <arg name="icp_max_iterations" value="3000"/>
    <arg name="icp_max_similar_iterations" value="300"/>
    <arg name="icp_relative_mse" value="0.5"/>

    <arg name="o1"/>
    <arg name="o2" default=""/>
    <arg name="o3" default=""/>
    <arg name="o4" default=""/>
    <arg name="o5" default=""/>
    <arg name="o6" default=""/>
    <arg name="o7" default=""/>
    <arg name="o8" default=""/>
    <arg name="o9" default=""/>
    <arg name="o10" default=""/>
    <arg name="o11" default=""/>
    <arg name="o12" default=""/>
    <arg name="o13" default=""/>
    <arg name="o14" default=""/>
    <arg name="o15" default=""/>
    <node name="hw1_task2" pkg="hw1" type="hw1_task2" args="$(arg path) $(arg simulation) $(arg icp_fitness_epsilon) $(arg icp_transformation_epsilon) $(arg icp_max_correspondence_distance) $(arg icp_ransac_iterations) $(arg icp_inlier_threshold) $(arg icp_translation_threshold) $(arg icp_rotation_threshold) $(arg icp_absolute_mse) $(arg icp_max_iterations) $(arg icp_max_similar_iterations) $(arg icp_relative_mse)
    $(arg o1) $(arg o2) $(arg o3) $(arg o4) $(arg o5) $(arg o6) $(arg o7) $(arg o8) $(arg o9) $(arg o10) $(arg o11) $(arg o12) $(arg o13) $(arg o14) $(arg o15)" output="screen"/>
</launch>