<launch>
    <arg name="path" value="$(find hw3)"/>
    <arg name="simulation" default="0"/>
    <arg name="kld_err" value="0.001"/>
    <arg name="update_min_d" value="0.1"/>
    <arg name="update_min_a" value="3.1415926535/8"/>
    <arg name="laser_min_range" value="-1.0"/>
    <arg name="laser_max_range" value="-1.0"/>
    <arg name="odom_alpha1" value="0.6"/> <!-- Rotation noise from rotation. -->
    <arg name="odom_alpha2" value="0.3"/> <!-- Rotation noise from translation. -->
    <arg name="odom_alpha3" value="0.1"/> <!-- Translation noise from translation. -->
    <arg name="odom_alpha4" value="0.1"/> <!-- Translation noise from rotation. -->

    <group ns="/marrtino">
    <node name="hw3" pkg="hw3" type="hw3" args="$(arg path) $(arg simulation) $(arg kld_err) $(arg update_min_d) $(arg update_min_a)
                                                $(arg laser_min_range) $(arg laser_max_range) $(arg odom_alpha1) $(arg odom_alpha2) 
                                                $(arg odom_alpha3) $(arg odom_alpha4)" output="screen"/>
    </group>
</launch>